@import "@/app/globals.module.scss";

.main {
  margin-top: 70px;
  display: flex;
  gap: 32px;
  width: 100%;
  padding-bottom: 64px;

  @include tablet-width-or-zoom() {
    flex-direction: column;
  }

  .profileAndNav {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 420px;

    @include tablet-width-or-zoom() {
      margin: 0 auto;
      width: auto;
    }

    @include mobile-width() {
      gap: 16px;
    }

    .profile {
      display: flex;
      flex-direction: column;
      width: 190px;
      gap: 24px;
    }

    .studentGreeting {
      gap: 5px;
      margin-bottom: 24px;

      @include font(16px, $black, 24px, 400);

      .studentName {
        @include font(28px, $black, 20px, 600);
      }
    }
  }
}
.subContainer {
  background-color: $mint;
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}

.editBtn {
  display: flex;
  padding: 15px;
  justify-content: flex-end;
}

.actionBtn {
  @extend .primaryButton;
  gap: 8px;
  margin-left: 10px;
  &:focus-visible {
    padding: 7px 13px;
    margin: 2px;
    outline: transparent;
    box-shadow: 0 0 0 2px $primary;
    border: solid 1px $white;
    border-radius: 4px;
    inset: 10px;
  }
}

.resetBtn {
  @extend .primaryButton;
  gap: 8px;
  background-color: $white;
  color: $primary;
  text-decoration: none;

  &:focus-visible {
    padding: 7px 13px;
    margin: 2px;
    outline: transparent;
    border-radius: 4px;
    inset: 10px;
  }
  &:hover {
    background-color: $gray-300;
    text-decoration: none;
    border: solid 1px $white;
  }
}

.basics {
  label,
  p {
    margin: 0;
    padding-left: 20px;
  }
}
